@import '../../variables.scss';

.FooterComponent {
    background-color: $primary-backgroundWhite;
    border-top: 5px solid #f18121;
    padding: 20px 0;

    &.dark-mode {
        background-color: #242526 !important;
        color: $primary-text !important;

    }

    &__middle {
        width: 1200px;
        margin: 0 auto;
        height: 100%;

        @media (max-width: $breakpoint-xl) {
            width: 100%;
        }

        @media (max-width: $breakpoint-lg) {
            width: 100%;

        }

        &__left {

            @media (max-width: $breakpoint-xl) {
                padding-left: 45px !important;
            }

            @media (max-width: $breakpoint-lg) {
                padding-left: 45px !important;

            }
        }

        &__right {

            &__List {
                margin-bottom: 3px;

                &__Item {
                    line-height: 30px;
                    padding: 0 5px;
                    background-color: #e2e2e2;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    border-radius: 3px;
                    font-size: 12px;
                    float: left;
                }
            }

            >p {
                width: max-content;
                margin-left: 33px;
                font-size: 13px;
                line-height: 21px;
            }
        }
    }
}