@import '../../variables.scss';

.HeaderComponent {
    padding-bottom: 5px;

    &__Top {
        height: 64px;
        background-color: $primary-backgroundWhite;
        padding: 10px 0;

        &.dark-mode {
            background-color: $dark-primary-background !important;
            color: $primary-text !important;

        }

        @media (max-width: $breakpoint-lg) {
            height: 100%;

        }

        &__middle {
            width: 1200px;
            padding: 0 20px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: $breakpoint-xl) {
                width: 100%;
            }

            @media (max-width: $breakpoint-lg) {
                align-items: unset;
                width: 100%;

            }

            &__Left {
                display: flex;


                @media (max-width: $breakpoint-lg) {
                    display: unset;
                    width: 100%;
                }


                &__Search {
                    width: 400px;
                    position: relative;
                    margin-left: 20px;


                    @media (max-width: $breakpoint-lg) {
                        display: unset;
                        margin: 0;
                    }

                    &__SearchInput {
                        background-color: #f9f9f9;
                        width: 100%;
                        height: 100%;
                        border: solid 1px #e0e0e0;
                        border-radius: 50px;
                        padding: 0 45px 0 20px;
                        color: #757575;
                        font-family: inherit;
                        font-weight: inherit;
                        font-size: inherit;
                        height: 44px;
                        outline: none;


                        @media (max-width: $breakpoint-lg) {
                            margin-top: 12px;
                        }
                    }

                    &__SearchButton {
                        color: $primary-color;
                        background: 0 0;
                        border: none;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(-10px, -50%);
                        font-size: 19px;
                        cursor: pointer;
                    }
                }
            }


            &__Right {
                display: flex;
                gap: 16px;
                align-items: center;

                @media (max-width: $breakpoint-lg) {
                    align-items: start;
                    display: none;

                }

                &__UserName {}

                &__Manager {
                    cursor: pointer;
                }
            }


        }

    }

    &__Bottom {

        background-color: $primary-color;

        &.dark-mode {
            background-color: #242526 !important;
            color: $primary-text !important;

        }

        &__nav {
            height: 56px;

            &__container {

                align-items: center;
                display: flex;
                flex-wrap: inherit;
                justify-content: space-between;
                width: 1200px;

                margin: 0 auto;
                // position: relative;
                z-index: 10;


                &__Logo {
                    // color: $primary-text;
                    text-decoration: none;
                    color: $primary-text;
                }

                &__List {
                    display: flex;
                    align-items: center;

                    margin: 0;
                    gap: 20px;
                    height: 100%;

                    @media screen and (max-width: $breakpoint-lg) {
                        flex-direction: column;
                        margin: 9px 0 0 0;
                        padding: 0 16px 0 16px;
                        align-items: start;
                        background-color: $primary-color;
                    }

                    &__Item {

                        // color: $primary-text;
                        display: flex;
                        align-items: center;


                        //lap top
                        @media (min-width: $breakpoint-lg) {
                            flex-direction: row;

                            &:hover {
                                background-color: #f29c57;
                                transition: .3s;
                                color: #ffffff;
                            }

                            &:hover &__Bottom {
                                display: grid;
                                width: 100%;
                                position: absolute;
                                background-color: #fff;
                                left: 0;
                                color: #333;
                                z-index: 2;
                                top: 56px;
                            }
                        }


                        &__Bottom {
                            display: none;
                        }


                        // điện thoại
                        @media (max-width: $breakpoint-lg) {

                            width: 100%;
                            cursor: pointer;
                            flex-direction: column;

                            &__Bottom {
                                background-color: #fff;
                                color: #333;
                            }

                        }

                        &__Top {
                            text-decoration: none;
                            color: #fff;
                            font-size: 15px;
                            width: 100%;
                            line-height: 56px;
                            padding: 0 10px;
                        }
                    }
                }
            }

        }

    }
}


.Button__User {
    background-color: $primary-color;
    // color: $primary-text;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    display: none;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;

    @media (max-width: $breakpoint-lg) {
        display: flex;
    }
}


// chế độ sáng tối
.darkMode {
    color: $primary-color;
    border: 1px solid;
    height: 60px;
    border-radius: 150px;
    width: 60px;
    text-align: center;
    font-size: 17px;
    background-color: transparent;
    margin-left: 20px;
    position: fixed;
    bottom: 20px;
    left: 0;
    cursor: pointer;
    z-index: 1000;
}

.backToTop {
    cursor: pointer;
    width: 60px;
    height: 60px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd;
    color: #f18121;
    border-radius: 3px;
    float: left;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 900;
    line-height: 38px;
    font-size: 20px;
}