$primary-text: #fff;
$primary-background: #ebebeb;
$primary-backgroundWhite: #fff;
$primary-color: #f18121;

// Dark Mode
$dark-primary-text: #000;
$dark-primary-background: #121212;
$dark-primary-backgroundWhite: #1f1f1f;
$dark-primary-color: #f18121;


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;