@import '../../variables.scss';

.ResetPassWordPage {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;

    &__Title {
        color: #f18121;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-transform: capitalize;

        >div {
            margin: 0;
            color: #ff2853;
            padding: 10px 0px;
            display: flex;
            align-items: center;
            gap: 10px;

            >p {
                margin: 0;
            }
        }
    }

    @media (max-width: $breakpoint-xl) {
        width: 100%;
    }

    @media (max-width: $breakpoint-lg) {
        width: 100%;

    }
}