@import '../../variables.scss';

.HomePage {
    width: 1200px;
    margin: 0 auto;

    @media (max-width: $breakpoint-xl) {
        width: 100%;
    }

    @media (max-width: $breakpoint-lg) {
        width: 100%;

    }
}